{% assign organizer = include.organizer %}
{% assign name = organizer | rdf_property: "foaf:name" %}
{% assign homepage = organizer | rdf_property: "foaf:homepage" %}
{% assign depiction = organizer | rdf_property: "foaf:depiction" %}
{% assign affiliations = organizer | rdf_property: "schema:affiliation", nil, true %}
<div class="lswt-card">
  {% if depiction %}
    <img class="mw-100 rounded" src="{{ depiction }}" alt="{{ name }}">
  {% else %}
    <img class="mw-100 rounded" src="/images/people/placeholder.svg" alt="{{ name }}">
  {% endif %}
  <h5 class="lswt-card-title">
  {% if homepage %}
    <a href="{{ homepage }}">{{ name }}</a>
  {% else %}
  {{ name }}
  {% endif %}
  </h5>
  <p>
    {% for affiliation in affiliations %}
    {% assign depiction = affiliation | rdf_property: "site:small_logo" %}
    {% unless depiction %}
      {% assign depiction = affiliation | rdf_property: "foaf:logo" %}
    {% endunless %}
    <a href="{{ homepage }}"><img src="{{ depiction }}" alt="{{ affiliation | rdf_property: "foaf:name" }}" class="logo"></a>
    {% endfor %}
  </p>
</div>
