---
layout: page
title: LSWT2019
type: Event
---
{% assign rootResource = site.rootResource | rdf_get %}

<div class="section" id="HomeSection" data-anchor="Home">
  <div class="landing-title-top">
    <img src="{% relative_link images/lswt.svg %}" class="title-figure">
  </div>
  <div class="landing-title-bottom">
    <div class="lswt-card-columns">
    {% assign partners = rootResource | rdf_property: "schema:partner" %}
    {% assign partnersList = partners | rdf_container %}
    {% for partner in partnersList %}
    <div class="lswt-card">
      <div class="logo-container logo-10vh">
        <a href="{{ partner | rdf_property: "foaf:homepage" }}">
          <img class="logo" src="{{ partner | rdf_property: "foaf:logo" }}">
        </a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

<div class="landing-menu">
  <!-- <a href="#Programm" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:programm" | rdf_property: "rdfs:label", page.language }}</a> -->
  <!-- <a href="{{ rootResource | rdf_property: "site:invitation" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:invitation" | rdf_property: "rdfs:label", page.language }}</a> -->
  <!-- <a href="{{ rootResource | rdf_property: "site:flyer" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:flyer" | rdf_property: "rdfs:label", page.language }}</a> -->
</div>

<div class="section" id="Date">
  <div class="container">
      #LSWT2021
      <h1 class="display-4">{{ rootResource | rdf_property: "rdfs:label", page.language }}</h1>
      {{ rootResource | rdf_property: "rdfs:comment", page.language | markdownify }}

      <dl>
        <dt>{{ "schema:startDate" | rdf_property: "rdfs:label", page.language }}</dt>
        <dd>{{ rootResource | rdf_property: "schema:startDate" | localize: "%-d. %B %Y", page.language }}</dd>
        {% assign location = rootResource | rdf_property: "schema:location" %}
        <dt>{{ "site:registrationPage" | rdf_property: "rdfs:label", page.language }}</dt>
        <dd><a href="{{ rootResource | rdf_property: "site:registrationPage" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:registrationPage" | rdf_property: "rdfs:label", page.language }}</a></dd>
        <dt>{{ location | rdf_property: "rdfs:label", page.language }}</dt>
        <dd><a href="{{ location.page_url }}">t.b.a.</a></dd>
      </dl>
  </div>
</div>

{% include sec_access.html %}

{% include sec_call.html %}

{% include sec_programm.html %}

{% include sec_team.html %}

{% comment %}
{% include sec_partner.html %}
{% endcomment %}

{% include sec_previous.html %}

{% include sec_imprint.html %}
